@charset "utf-8";
/* CSS Document */

.adc-statements {
	position:relative;	
}

.adc-statements .column {
	position:relative;
}

/* Reponses */
.adc-statements .responseItem 
{   
    /* Element */
	display:block;
    position: relative;
	margin:0 0 5px 0;
    vertical-align:middle;
	cursor:pointer;
	left:0px;
		
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	
	/* disable highlight text */
	-moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select:none; 
	user-select:none;
}

.adc-statements .response_text 
{ 
	display:block;
	padding:10px;
	line-height:1.2;
}
.adc-statements .responseItem img 
{
	display:inline-block; 
	margin:5px 20px 5px 5px;
	float:right;
}