/* standard.css */
{%
Dim responseColourPrimary =CurrentADC.PropValue("responseColourPrimary")
Dim fontColour =CurrentADC.PropValue("fontColour")
Dim responseShadow =CurrentADC.PropValue("responseShadow")
Dim responseSelectedColourPrimary =CurrentADC.PropValue("responseSelectedColourPrimary")
Dim responseSelectedFontColour =CurrentADC.PropValue("responseSelectedFontColour")
Dim textAlign =CurrentADC.PropValue("textAlign")
Dim responseSelectedShadow =CurrentADC.PropValue("responseSelectedShadow")

Dim borderColour =CurrentADC.PropValue("borderColour")
Dim borderThickness =CurrentADC.PropValue("borderThickness")
Dim borderStyle =CurrentADC.PropValue("borderStyle")
Dim responseSelectedBorderColour =CurrentADC.PropValue("responseSelectedBorderColour")
Dim responseSelectedBorderThickness =CurrentADC.PropValue("responseSelectedBorderThickness")
Dim responseSelectedBorderStyle =CurrentADC.PropValue("responseSelectedBorderStyle")
Dim imageAlign =CurrentADC.PropValue("imageAlign")
Dim borderRadius =CurrentADC.PropValue("borderRadius")

Dim nsResponseColourPrimary =CurrentADC.PropValue("nsResponseColourPrimary")
Dim nsfontColour =CurrentADC.PropValue("nsfontColour")
Dim nsResponseBorderColour =CurrentADC.PropValue("nsResponseBorderColour")
Dim nsResponseBorderThickness =CurrentADC.PropValue("nsResponseBorderThickness")
Dim nsResponseBorderStyle =CurrentADC.PropValue("nsResponseBorderStyle")
Dim nsResponseShadow =CurrentADC.PropValue("nsResponseShadow")
Dim nsResponseSelectedColourPrimary =CurrentADC.PropValue("nsResponseSelectedColourPrimary")
Dim nsResponseSelectedFontColour =CurrentADC.PropValue("nsResponseSelectedFontColour")
Dim nsResponseSelectedBorderColour =CurrentADC.PropValue("nsResponseSelectedBorderColour")
Dim nsResponseSelectedBorderThickness =CurrentADC.PropValue("nsResponseSelectedBorderThickness")
Dim nsResponseSelectedBorderStyle =CurrentADC.PropValue("nsResponseSelectedBorderStyle")
Dim nsResponseSelectedShadow =CurrentADC.PropValue("nsResponseSelectedShadow")

Dim responseHoverColourPrimary =CurrentADC.PropValue("responseHoverColourPrimary")
Dim responseHoverFontColour =CurrentADC.PropValue("responseHoverFontColour")
Dim responseHoverBorderColour =CurrentADC.PropValue("responseHoverBorderColour")
Dim responseHoverBorderThickness =CurrentADC.PropValue("responseHoverBorderThickness")
Dim responseHoverBorderStyle =CurrentADC.PropValue("responseHoverBorderStyle")
Dim responseHoverShadow =CurrentADC.PropValue("responseHoverShadow")

Dim showResponseHoverColour =CurrentADC.PropValue("showResponseHoverColour")
Dim showResponseHoverFontColour =CurrentADC.PropValue("showResponseHoverFontColour")
Dim showResponseHoverBorder =CurrentADC.PropValue("showResponseHoverBorder")

Dim responseMargin =CurrentADC.PropValue("responseMargin")
Dim responseTextPadding =CurrentADC.PropValue("responseTextPadding")
Dim responseTextLineHeight =CurrentADC.PropValue("responseTextLineHeight")

Dim fontSize =CurrentADC.PropValue("fontSize")
Dim responseHeight =CurrentADC.PropValue("responseHeight")
Dim responseWidth =CurrentADC.PropValue("responseWidth")

Dim useRange =CurrentADC.PropValue("useRange")

IF imageAlign = "center" Then
	imageAlign = "none"
EndIF

IF responseHeight = "" Then
	responseHeight = "auto"
EndIF
IF responseWidth = "" Then
	responseWidth = "auto"
EndIF

Dim percentageWidth
Dim numberOfColumns =CurrentADC.PropValue("columns").ToNumber()

Dim animateResponses =CurrentADC.PropValue("animateResponses")
%}


/* Reponses */
#adc_{%= CurrentADC.InstanceId%} .responseItem 
{   
    
	/* Decoration */
	{% IF CurrentADC.PropValue("borderThickness") = "none" Then %}
		border: none;
	{% Else %}
		border: {%= borderThickness%} {%= borderStyle%} rgb({%= borderColour%});
	{% EndIF %}	
	background-color: rgb({%= responseColourPrimary%});
	
	/* Effects */
	-webkit-border-radius:	{%= borderRadius%}; 
	-moz-border-radius:		{%= borderRadius%}; 
	-khtml-border-radius:	{%= borderRadius%}; 
	border-radius:			{%= borderRadius%};
	
	-webkit-box-shadow: {%= responseShadow%};
	-moz-box-shadow: {%= responseShadow%};
	box-shadow: {%= responseShadow%};
	
	height: {%= responseHeight%};
	width: {%= responseWidth%};
	
	margin: {%= responseMargin%};
	
	z-index: 0;
    
    box-sizing: border-box;
}

#adc_{%= CurrentADC.InstanceId%} .responseItem:hover
{

	/* Decoration */
	{% IF showResponseHoverBorder = "1" Then %}
		border: {%= responseHoverBorderThickness%} {%= responseHoverBorderStyle%} rgb({%= responseHoverBorderColour%});
	{% Else %}
		border: {%= borderThickness%} {%= borderStyle%} rgb({%= borderColour%});
	{% EndIF %}
	{% IF showResponseHoverColour = "1" Then %}
		background-color: rgb({%= responseHoverColourPrimary%}) !important;
	{% EndIF %}
	-webkit-box-shadow: {%= responseHoverShadow%};
	-moz-box-shadow: {%= responseHoverShadow%};
	box-shadow: {%= responseHoverShadow%};
}

#adc_{%= CurrentADC.InstanceId%} .response_text 
{ 
	display:block;
	font-size:{%= fontSize%};
	text-align:{%= textAlign%};
	color:rgb({%= fontColour%});
	padding:{%= responseTextPadding%};
	line-height:{%= responseTextLineHeight%};
}

#adc_{%= CurrentADC.InstanceId%} .responseItem:hover .response_text 
{ 
	{% IF showResponseHoverFontColour = "1" Then %}
		color:rgb({%= responseHoverFontColour%});
	{% EndIF %}
}

#adc_{%= CurrentADC.InstanceId%} .responseItem img {
		
	float: {%= imageAlign%};
	max-width:100%;
		
}

#adc_{%= CurrentADC.InstanceId%} .responseItem.selected 
{	
    /* Decoration */	
	{% IF CurrentADC.PropValue("responseSelectedBorderThickness") = "none" Then %}
		border: none;
	{% Else %}
		border: {%= responseSelectedBorderThickness%} {%= responseSelectedBorderStyle%} rgb({%= responseSelectedBorderColour%});
	{% EndIF %}	
	background-color: rgb({%= responseSelectedColourPrimary%}) !important;
	
	-webkit-box-shadow: {%= responseSelectedShadow%};
	-moz-box-shadow: {%= responseSelectedShadow%};
	box-shadow: {%= responseSelectedShadow%};
}

#adc_{%= CurrentADC.InstanceId%} .responseItem.selected .response_text 
{
    color:rgb({%= responseSelectedFontColour%});
}

/* Non Scaled Reponses */
#adc_{%= CurrentADC.InstanceId%} .ns 
{   

	/* Decoration */
	{% IF CurrentADC.PropValue("nsResponseBorderThickness") = "none" Then %}
		border: none;
	{% Else %}
		border: {%= nsResponseBorderThickness%} {%= nsResponseBorderStyle%} rgb({%= nsResponseBorderColour%});
	{% EndIF %}	
	background-color: rgb({%= nsResponseColourPrimary%});
	
	/* Effects */
	-webkit-border-radius:	{%= borderRadius%}; 
	-moz-border-radius:		{%= borderRadius%}; 
	-khtml-border-radius:	{%= borderRadius%}; 
	border-radius:			{%= borderRadius%};
	
	-webkit-box-shadow: {%= nsResponseShadow%};
	-moz-box-shadow: {%= nsResponseShadow%};
	box-shadow: {%= nsResponseShadow%};
}

#adc_{%= CurrentADC.InstanceId%} .ns .response_text 
{ 
	display:block;
	font-size:{%= fontSize%};
	color:rgb({%= nsfontColour%});
}

#adc_{%= CurrentADC.InstanceId%} .ns.selected 
{	
    /* Decoration */	
	{% IF CurrentADC.PropValue("nsResponseSelectedBorderThickness") = "none" Then %}
		border: none;
	{% Else %}
		border: {%= nsResponseSelectedBorderThickness%} {%= nsResponseSelectedBorderStyle%} rgb({%= nsResponseSelectedBorderColour%});
	{% EndIF %}	
	background-color: rgb({%= nsResponseSelectedColourPrimary%}) !important;
	
	-webkit-box-shadow: {%= nsResponseSelectedShadow%};
	-moz-box-shadow: {%= nsResponseSelectedShadow%};
	box-shadow: {%= nsResponseSelectedShadow%};
}

#adc_{%= CurrentADC.InstanceId%} .ns.selected .response_text 
{
    color:rgb({%= nsResponseSelectedFontColour%});
}

.animate {
    -webkit-transition: all .5s ease-in-out;
     -moz-transition: all .5s ease-in-out;
     -o-transition: all .5s ease-in-out;
     transition: all .5s ease-in-out;
}